.clearfix::before
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  border: none;
}

.row::before, .row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  border: none;
  height: auto;
  margin: 0 auto;
  min-height: 1px;
  overflow: auto;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  width: 0%;
}

.col-offset-1 {
  width: 8.33333%;
}

.col-offset-2 {
  width: 16.66667%;
}

.col-offset-3 {
  width: 25%;
}

.col-offset-4 {
  width: 33.33333%;
}

.col-offset-5 {
  width: 41.66667%;
}

.col-offset-6 {
  width: 50%;
}

.col-offset-7 {
  width: 58.33333%;
}

.col-offset-8 {
  width: 66.66667%;
}

.col-offset-9 {
  width: 75%;
}

.col-offset-10 {
  width: 83.33333%;
}

.col-offset-11 {
  width: 91.66667%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
  .col-m-offset-0 {
    width: 0%;
  }
  .col-m-offset-1 {
    width: 8.33333%;
  }
  .col-m-offset-2 {
    width: 16.66667%;
  }
  .col-m-offset-3 {
    width: 25%;
  }
  .col-m-offset-4 {
    width: 33.33333%;
  }
  .col-m-offset-5 {
    width: 41.66667%;
  }
  .col-m-offset-6 {
    width: 50%;
  }
  .col-m-offset-7 {
    width: 58.33333%;
  }
  .col-m-offset-8 {
    width: 66.66667%;
  }
  .col-m-offset-9 {
    width: 75%;
  }
  .col-m-offset-10 {
    width: 83.33333%;
  }
  .col-m-offset-11 {
    width: 91.66667%;
  }
}

.jumbo {
  background-image: url(../images/jumbotron.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.jumbo-btn {
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 65px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 240px;
}

.jumbo-small-text {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  padding: 30vh 0 2.5vh;
}

.jumbo-big-text {
  color: #fff;
  font-size: 75px;
  padding: 25px 0 30px;
  text-transform: uppercase;
}

.nav-section {
  text-align: left;
}

.logo {
  display: inline-block;
}

.navigation {
  padding-top: 50px;
}

.navigation ul {
  list-style: none;
  float: right;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .jumbo-small-text {
    padding: 5vh 0 2.5vh;
    font-size: 25px;
  }
  .jumbo-big-text {
    font-size: 35px;
  }
  .navigation {
    height: 35vh;
    padding-top: 10px;
    margin: 0 auto;
    overflow: visible;
    text-align: center;
  }
  .navigation ul {
    float: none;
  }
  .navigation li {
    display: inline;
    padding: 3px;
  }
  .navigation a {
    margin-left: 0;
  }
  .jumbo-btn {
    height: 65px;
    margin-top: 10px;
    width: 240px;
  }
}

.services-head {
  font-size: 40px;
  margin: 120px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 80px;
  text-align: center;
}

.services-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}

.services-icons .services-btn {
  background-color: #fff;
  border: 5px solid #fed136;
  border-radius: 50%;
  height: 73px;
  margin-bottom: 25px;
  width: 73px;
}

.services-icons .services-icons-head-text {
  font-size: 18px;
  padding-bottom: 10px;
}

.services-icons p {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  padding: 0 5px;
}

.our-portfolio {
  background-color: #f7f7f7;
  padding: 120px 0;
}

.our-portfolio .portfolio-title {
  font-size: 40px;
  text-align: center;
}

.our-portfolio .portfolio-text {
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}

.our-portfolio img {
  border: none;
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-gallery .portfolio-gallery-title {
  margin-top: 30px;
  text-align: center;
}

.portfolio-gallery .gallery-row {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}

.portfolio-gallery .portfolio-picture-container {
  background-color: white;
  padding-bottom: 30px;
  width: 290px;
}

.portfolio-gallery .portfolio-picture-container .portfolio-text {
  padding: 0;
}

@media (max-width: 768px) {
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .portfolio-picture-container {
    margin-bottom: 20px;
  }
}

.about-us {
  margin: 120px 0;
}

.aboutus-title {
  font-size: 40px;
  text-align: center;
}

.aboutus-head-text {
  color: #9b9b9b;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 85px;
  padding: 20px 0;
}

.aboutus-text-left {
  text-align: right;
}

.aboutus-text-right {
  text-align: left;
}

.aboutus-title-text {
  line-height: 30px;
}

.aboutus-text {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
  overflow: visible;
}

.aboutus-dates {
  display: flex;
}

.aboutus-dates div {
  overflow: visible;
}

.aboutus-dates .aboutus-last-pic {
  border: 10px solid #f1f1f1;
  background-color: #fed136;
  border-radius: 100%;
  height: 190px;
  margin: 0 auto;
  padding-top: 25px;
  width: 190px;
}

.aboutus-dates .aboutus-last-pic .aboutus-last-pic-text {
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 110px;
}

.aboutus-dates img {
  border: 10px solid #f1f1f1;
  border-radius: 100px;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.aboutus-freespace {
  height: 100px;
  position: relative;
}

.aboutus-freespace .aboutus-line {
  background-color: #f1f1f1;
  height: 100px;
  position: absolute;
  left: 49.5%;
  width: 10px;
}

@media (max-width: 768px) {
  .aboutus-dates {
    display: block;
  }
  .aboutus-dates img {
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
  .aboutus-freespace {
    height: 100px;
  }
  .aboutus-freespace .aboutus-line {
    height: 110px;
    width: 10px;
  }
  .aboutus-last-pic-freespace {
    height: 0;
  }
  .aboutus-last-pic-freespace .aboutus-line {
    height: 0;
    width: 0;
  }
  .aboutus-freespace-horizontal {
    position: relative;
    height: 20px;
  }
  .aboutus-freespace-horizontal .aboutus-line-horizontal {
    background-color: #f1f1f1;
    height: 4px;
    position: absolute;
    left: 25%;
    width: 50%;
  }
  .aboutus-text-left {
    text-align: center;
  }
  .aboutus-text-right {
    text-align: center;
  }
}

.our-amazing-team {
  background-color: #f9f9f9;
  padding-top: 120px;
}

.team-title {
  font-size: 40px;
  text-align: center;
}

.team-head-text {
  color: #9b9b9b;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 85px;
  padding: 20px 0;
}

.team-people {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-column {
  text-align: center;
}

.team-column img {
  border-radius: 100%;
  margin-bottom: 30px;
}

.team-column h3 {
  margin-bottom: 15px;
}

.team-column p {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.team-column i {
  border: 2px solid black;
  border-radius: 100%;
  height: 40px;
  line-height: 35px;
  margin: 5px;
  text-align: center;
  width: 40px;
}

.team-column i:hover {
  color: #fff;
  cursor: pointer;
}

.i-face:hover {
  background-color: #3b5998;
  border: 2px solid #3b5998;
}

.i-pinterest:hover {
  background-color: #cb2028;
  border: 2px solid #cb2028;
}

.i-twitter:hover {
  background-color: #00aced;
  border: 2px solid #00aced;
}

.i-google:hover {
  background-color: #d95232;
  border: 2px solid #d95232;
}

.team-bottom-text {
  color: #777;
  font-size: 16px;
  padding: 55px 90px 120px;
  text-align: center;
}

.logos {
  margin: 60px 0;
}

.logos .logos-contain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .logos {
    margin: 60px 0;
  }
  .logos .logos-contain {
    display: flex;
    justify-content: center;
    align-content: space-between;
  }
  .logos img {
    padding: 25px;
  }
}

.contact-us {
  background-color: #000;
  background-origin: content-box;
  background-size: cover;
  background-image: url("../images/map.png");
  padding: 120px 0;
  text-align: center;
}

.contact-us h1 {
  color: #fff;
}

.contact-us input {
  display: block;
  margin-bottom: 30px;
  height: 50px;
  padding: 0 20px;
  width: 100%;
}

.contact-us textarea {
  height: 210px;
  padding: 20px;
  width: 455px;
}

.contact-us ::placeholder {
  color: #bbb;
  font-size: 14px;
  font-weight: bold;
}

.contact-us .form-btn {
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 65px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 240px;
}

.form {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .form {
    display: block;
  }
  .form input {
    display: block;
    margin-bottom: 30px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
  }
  .form textarea {
    height: 200px;
    padding: 20px;
    width: 50%;
  }
}

.footer {
  margin: 20px 0 30px 0;
}

.footer .footer-text-container {
  width: 100%;
}

.footer .footer-text {
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

.footer .footer-icons {
  text-align: center;
  margin-bottom: 30px;
}

.footer i {
  background-color: #000;
  border: 2px solid black;
  border-radius: 100%;
  color: #fff;
  height: 40px;
  line-height: 35px;
  margin: 5px;
  text-align: center;
  width: 40px;
}

.footer i:hover {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-text {
    padding: 5px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*# sourceMappingURL=style.css.map */