* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::before
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  border: none;
}

.row::before, .row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  border: none;
  float: left;
  height: auto;
  margin: 0 auto;
  min-height: 1px;
  overflow: auto;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  width: 0%;
}

.col-offset-1 {
  width: 8.33333%;
}

.col-offset-2 {
  width: 16.66667%;
}

.col-offset-3 {
  width: 25%;
}

.col-offset-4 {
  width: 33.33333%;
}

.col-offset-5 {
  width: 41.66667%;
}

.col-offset-6 {
  width: 50%;
}

.col-offset-7 {
  width: 58.33333%;
}

.col-offset-8 {
  width: 66.66667%;
}

.col-offset-9 {
  width: 75%;
}

.col-offset-10 {
  width: 83.33333%;
}

.col-offset-11 {
  width: 91.66667%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  background-image: url(../images/jumbotron.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.btn-jumbo {
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 65px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 240px;
}

.small-text-jumbo {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  padding: 205px 0 25px;
}

.big-text-jumbo {
  color: #fff;
  font-size: 75px;
  padding: 25px 0 30px;
  text-transform: uppercase;
}

.section-nav {
  text-align: left;
}

.logo {
  display: inline-block;
}

.navigation {
  padding-top: 50px;
}

.navigation ul {
  list-style: none;
  float: right;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.services-head {
  font-size: 40px;
  margin: 120px 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 80px;
  text-align: center;
}

.services-icons {
  text-align: center;
  margin-bottom: 60px;
}

.services-icons .btn-service {
  background-color: #fff;
  border: 5px solid #fed136;
  border-radius: 50%;
  height: 73px;
  margin-bottom: 25px;
  width: 73px;
}

.services-icons .icons-head-text {
  font-size: 18px;
  padding-bottom: 10px;
}

.services-icons p {
  color: #777;
  font-size: 14px;
  line-height: 20px;
}

.our-portfolio {
  background-color: #f7f7f7;
  padding: 120px 0;
}

.our-portfolio .portfolio-title {
  font-size: 40px;
  text-align: center;
}

.our-portfolio .portfolio-text {
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 80px;
  line-height: 30px;
  padding: 20px 0;
}

.our-portfolio .portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.our-portfolio .portfolio-gallery .gallery-title {
  margin-top: 20px;
  text-align: center;
}

.our-portfolio .portfolio-gallery .gallery-row {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-between;
}

.our-portfolio .portfolio-gallery .gall-1 {
  background-color: white;
  width: 290px;
}

.our-portfolio img {
  border: none;
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.aboutus-title {
  font-size: 40px;
  text-align: center;
  margin-top: 120px;
}

.aboutus-text {
  color: #9b9b9b;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 85px;
  padding: 20px 0;
}

.pic-text-left {
  text-align: right;
}

.pic-text-right {
  text-align: left;
}

.pic-title-text {
  line-height: 30px;
}

.pic-text {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
  overflow: visible;
}

.aboutus-dates {
  height: 190px;
}

.aboutus-dates div {
  height: 190px;
  overflow: visible;
}

.aboutus-dates .pic-5 {
  border: 10px solid #f1f1f1;
  background-color: #fed136;
  border-radius: 100%;
  margin: 0 auto;
  padding-top: 25px;
  width: 190px;
}

.aboutus-dates .pic-5 .pic5-text {
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 110px;
}

.aboutus-dates img {
  border: 10px solid #f1f1f1;
  border-radius: 100px;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.aboutus-freespace {
  height: 100px;
  position: relative;
}

.aboutus-freespace .aboutus-line {
  background-color: #f1f1f1;
  height: 100px;
  position: absolute;
  left: 50%;
  width: 10px;
}

/*# sourceMappingURL=style.css.map */