.logos {
  margin: 60px 0;
  .logos-contain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {

  .logos {
    margin: 60px 0;
    .logos-contain {
      display: flex;
      justify-content: center;
      align-content: space-between;
    }
    img {
      padding: 25px;
    }
  }
}
