// SERVICES //

.services-head {
  font-size: 40px;
  margin: 120px 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.services-text {
  color: #a4a4a4;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 80px;
  text-align: center;
}
.services-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;

  .services-btn {
    background-color: #fff;
    border: 5px solid #fed136;
    border-radius: 50%;
    height: 73px;
    margin-bottom: 25px;
    width: 73px;
  }
  .services-icons-head-text{
    font-size: 18px;
    padding-bottom: 10px;
  }
  p {
    color: #777;
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
  }
}
